<div class="container d-flex justify-content-center pt-3">
  <div class="card w-50 p-4 d-inline">
    <h1>Edit Product</h1>
    <%= render partial: 'form', locals: { product: @product } %>
  </div>
</div>